---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Merci d'effectuer vos commandes par mail !</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contactez-moi</h2>
        <p class="text-lg leading-relaxed text-gray-600 mt-3">
          Réponse sous quelques jours.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-700">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Montpellier, France</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-700">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:myokan@hotmail.fr" class="hover:text-gray-900">
              myokan@hotmail.fr
            </a>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
