---
import Container from "@/components/container.astro";
import Link from "@/components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Ateliers de groupe",
    path: "#",
    children: [
      { title: "Écoles primaires", path: "/blog/2023-12-17-ecoles-primaires" },
      { title: "Lycées", path: "/blog/2016-01-31-formats-atelier-pour-les-ecoles-primaires" },
    ],
  },
  {
    title: "Cours individuels à domicile",
    path: "/blog/2016-01-30-cours-individuel-a-domicile",
  },
  {
    title: "Cours de chinois",
    path: "/blog/2016-01-30-cours-de-chinois",
  },
  {
    title: "Galerie",
    path: "/galerie",
  },
  {
    title: "Traductions",
    path: "#",
    children: [
      {
        title: "Zeng Jixin",
        path: "#",
        children: [
          { title: "Biographie", path: "/blog/2016-01-30-zeng-jixin" },
        ],
      },
    ],
  },
  {
    title: "Le calligraphe",
    path: "#",
    children: [
      { title: "Shodo, la voie du pinceau", path: "/blog/2016-04-22-shodo-voie-pinceau" },
      { title: "Calligraphie zen", path: "/blog/2016-04-22-calligraphie-zen" },
    ],
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">Ateliers </span>
          <span class="text-slate-500">de calligraphie</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>

      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {menuitems.map((item, index) => (
            <>
              {item.children && (
                <Dropdown
                  title={item.title}
                  children={item.children}
                  lastItem={index === menuitems.length - 1}
                />
              )}

              {!item.children && (
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900"
                  >
                    <span>{item.title}</span>
                    {item.badge && (
                      <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                        New
                      </span>
                    )}
                  </a>
                </li>
              )}
            </>
          ))}
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
