---
import { Icon } from "astro-icon/components";

const zafus = [
  {
    name: "Zafu à remplir",
    dimensions: "32cm H 20cm",
    price: "30€",
    icon: "bx:bxs-briefcase",
  },
  {
    name: "Zafu standard",
    dimensions: "30cm H 15cm",
    price: "27€",
    icon: "bx:bxs-window-alt",
  },
  {
    name: "Zafu de voyage",
    dimensions: "28cm H 13cm",
    price: "25€",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold text-green-800">
    Des zafus partout !
  </h2>
  <p class="text-lg mt-4 text-green-600">
    Zafus artisanaux réalisés dans la tradition par une nonne zen.
  </p>

  <div class="overflow-x-auto mt-8">
    <table class="min-w-full border border-green-200 divide-y divide-green-200 text-left">
      <thead class="bg-green-100">
        <tr>
          <th class="px-4 py-2">Icon</th>
          <th class="px-4 py-2">Nom</th>
          <th class="px-4 py-2">Dimensions</th>
          <th class="px-4 py-2">Prix</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-green-200">
        {zafus.map((zafu) => (
          <tr>
            <td class="px-4 py-2">
              <div class="bg-green-800 rounded-full p-2 w-8 h-8 flex items-center justify-center">
                <Icon class="text-white" name={zafu.icon} />
              </div>
            </td>
            <td class="px-4 py-2 text-green-800 font-semibold">{zafu.name}</td>
            <td class="px-4 py-2 text-green-700">{zafu.dimensions}</td>
            <td class="px-4 py-2 text-green-700">{zafu.price}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
</div>
